/* Gallery Section */
#gallery {
    padding: 50px 0;
    text-align: center;
    background-color: #ced8ff;
}

#gallery .section-title {
    position: relative;
    text-align: center;
}

#gallery .section-title h2 {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
    position: relative;
    color: #000;
}

#gallery .section-title h2::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    background-color: #000; /* Change this to match your theme */
    transition: width 0.8s ease;
    transform: translateX(-50%);
}

#gallery .section-title:hover h2::after {
    width: 90%; /* Adjust the width as needed */
}

/* Gallery Grid Layout */
.gallery-items {
    margin-right: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 images per row */
    gap: 0; /* No gap between top and bottom */
    row-gap: 0; /* No vertical gap between rows */
    column-gap: 2px; /* Horizontal gap only */
    justify-content: center;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    margin: 0; /* Remove margin from each gallery item */
}

.gallery-item img {
    width: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

.gallery-item h4 {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
}

/* Dark Mode Styles */
.dark #gallery {
    background-color: #000;
    color: #ffb828;
}
.dark #gallery h2 {
    color: #ffb828;
}

.dark .gallery-item h4 {
    color: #ffb828;
}

.dark .gallery-item:hover img {
    transform: scale(1.05);
}

.dark #gallery .section-title h2::after {
    background-color: #ffb828; /* Change this to match your theme */
}
